$primary: #efe9e7;
$secondary: #3d1101;

.lh-1 {
    line-height: 1.5rem;
}
.lh-2 {
    line-height: 2rem;
}

.mb-16 {
    margin-bottom: 16px;
}

.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}

.flex-1 {
    flex: 1;
}