.feature {
    background: $primary;
    color: #3D1101;
    .container {
        padding: 50px 62px;
    }
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        h2 {
            text-align: center;
            margin: 0 12px;
            position: relative;
            &::before, &::after {
                content: "";
                position: absolute;
                top: 50%;
                background:#979797;
                width: 110px;
                height: 1px;
            }
            &::before {
                right: 212px;
            }
            &::after {
                left: 212px;
            }
        }
    }
    .content {
        display: flex;
        justify-content: space-between;
        text-align: center;
        gap: 60px;

        img {
            border-radius: 50%;
            max-width: 100%;
            margin-bottom: 20px;
        }
        h3 {
            margin-bottom: 10px;
        }
        p {
            text-align: left;
        }
    }
}

.chef {
    background: $secondary;
    .container {
        padding: 0 42px;
        display: flex;
        align-items: center;
        gap: 24px;
        color: #EFE9E7;
    }
    .chef-img {
        height: 460px;
        img {
            width: 100%;
            height: 460px;
            object-fit: cover;
        }
    }

}

.comment {
    background: $primary;
    .container {
        padding: 50px 42px;
        color: #3D1101;
    }
    .title {
        margin-bottom: 32px;
        text-align: center;
    }
    .content {
        display: flex;
        gap: 20px;
    }
    .card {
        display: flex;
        gap: 12px;
        img {
            border-radius: 50%;
            height: 67px;
        }
        h3 {
            margin-top: 20px;
            margin-bottom: 22px;
        }
        .nickname {
            color: rgba(61,17,0,0.75);
            text-align: end;
        }
    }
}

.map {
    background: #f6f4f3;
    .container {
        padding: 50px 42px;
        color: #3D1101;
    }
    h2 {
        margin-bottom: 36px;
        text-align: center;
    }
    .content {
        display: flex;
        gap: 20px;
    }
    .map-img {
        height: 386px;
        img {
            width: 100%;
            height: 386px;
            object-fit: cover;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        label {
            margin-bottom: 6px;
        }
        input {
            font-size: 16px;
            height: 32px;
            border: 1px solid #CCCCCC;
            box-shadow: inset 0px 1px 0px 0px #ECECEC;
            border-radius: 3px;
            margin-bottom: 12px;
        }
        .vegetarian {
            display: flex;

            margin-bottom: 30px;
        }
        input[type="radio"] {
            box-shadow: none;
            height: 20px;
            border: 1px solid #9B9B9B;
            margin: 0 16px 0 6px;
        }
        .btns {
            margin-left: auto;
        }
        button {
            color: #FFFFFF;
            border-radius: 3px;
            border: none;
            width: 70px;
            height: 32px;
        }
        .cancel {
            background: rgba(0,0,0,0.35);
        }
        .submit {
            background: #F56C23;
            margin-left: 12px;
        }
    }
}

@media (max-width: 768px) {
    .feature {
        .container {
            padding: 50px 28px;
        }
        .content {
            gap: 55px;
        }
    }
    
    .chef {
        .container {
            padding: 0 10px;
        }
    }
    
    .comment {
        .container {
            padding: 50px 10px;
        }
    }
    
    .map {
        .container {
            padding: 50px 10px;
        }
    }
}

@media (max-width: 540px) {
    .feature {
        .container {
            padding: 50px 30px;
        }
        .title {
         h2 {
            &::before, &::after {
                width: 0;
            }
        }
        }
        .content {
            flex-direction: column;
        }
    }
    
    .chef {
        .container {
            padding: 0;
            flex-direction: column;
            gap: 30px;
        }
        .content {
            padding: 0 30px 30px 30px;
        }
    }
    
    .comment {
        .content {
            flex-direction: column;
            gap: 30px;
        }
    }
    
    .map {
        .content {
            flex-direction: column;
            gap: 30px;
        }
    }
}